.tab-item {
    list-style-type: none;
    width: 150px;
  }
  .tab-btn {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 500;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid transparent;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  .active {
    color: #fec653;
  
    border-bottom: 2px solid #fec653;
    padding-bottom: 8px;
  }
  
  @media screen and (min-width: 768px) {
    .active {
      padding-bottom: 12px;
    }
  }